version: "3.8"
services:
  backend:
    build: ./backend
    ports:
      - "8545:8545"
    networks:
      - web3-net
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env.local
    networks:
      - web3-net
networks:
  web3-net:
    driver: bridge
